@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gmarketSans';
  src: url('../../public//GmarketSansTTFLight.ttf') format('truetype');
}

html {
  font-family: 'gmarketSans', sans-serif;
  font-weight: 100;
}

/* 여기에 위에서 제공된 CSS 코드를 붙여넣으세요. */
.card {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.first-card {
  border: 2px solid #a2b59f;
}

/* 기타 필요한 스타일... */
